Diagnostics:
  ClangTidy:
    Add:
     - readability-identifier-naming
    Remove:
     - mordernize-*


InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
