Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type


InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
