[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "deps/nlohmann-json"]
	path = deps/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "deps/tomlplusplus"]
	path = deps/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/date"]
	path = deps/date
	url = https://github.com/HowardHinnant/date
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
