# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output folders (eg. Visual Studio)
out/
x64/
x86/

# Visual Studio
.vs

# VSCode
.vscode

# Intellij
.idea
cmake-build-*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints
.cache

build/
cmake-build*/

gen/out/*

venv/